*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.display-none{
    display: none !important;
}

body{
    background-color: #f0f3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container{
    background-color: white;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 95%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.error-container i {
    font-size: 80px;
    color: #0665d0;
    margin-bottom: 30px;
}

.error-container h2{
    font-size: 28px;
    color: #171717;
    margin-bottom: 20px;
}

.error-container p{
    font-size: 20px;
    color: #495057;
    line-height: 1.5;
}

#bgDownloadSpinner{
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#downloadSpinner{
    position: fixed;
    z-index: 100000;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 6px solid #ffffff;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}